/* Top Nav */
.top-navbar {
  @apply flex py-2 min-h-[48px];
  @screen lg { @apply py-1.5; }
  .s-search-input{
    @apply bg-white/5 hover:bg-white/10 border border-white/5 text-white placeholder:text-white/25 rounded-lg;
  }
  @media (max-width: 640px) {
    .s-search-results{
      @apply w-screen max-w-[100vw] rtl:-left-2.5 ltr:-right-2.5; 
    }
  }
  .s-search-box .s-search-input {
    min-width: auto;
  }
}

/* Main Nav */
.main-nav-container {
  @apply min-h-[68px] lg:min-h-[84px];
  .has-bg &,
  .has-bg & .sub-menu{ @apply bg-[color:var(--mainnav-bg)]; }
  .has-text-color & { @apply text-[color:var(--mainnav-text-color)]; }
}

.menu-item {
  @apply flex items-center px-6 py-2.5 sm:text-sm transition-colors duration-300 hover:bg-white/5 rounded-lg;
  &.logout{ @apply text-red-400; }
  &.is-active{ @apply font-bold; }
}

/* Sticky Header */
.main-nav-container {
  &.animated {
    .inner {
      transition: top 0.5s, transform 0.5s, -webkit-transform 0.5s, opacity 0.4s;
    }
  }
  &.fixed-pinned {
    .inner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  &.fixed-pinned:not(.sticky) .inner {
    @apply animate-slideUpFromBottom;
  }
  &.fixed-unpinned:not(.sticky) .inner {
    @apply animate-slideDownFromBottom;
  }
}

/* Navbar Brand */
.navbar-brand {
  @apply flex-shrink-0 rtl:ml-4 ltr:mr-4 lg:rtl:ml-8 lg:ltr:mr-8;
  img { height: 36px; }
}

/* User Menu */
.s-user-menu-trigger {
  @apply w-9 h-9 flex items-center justify-center rounded-full border;
  border-color: rgba(255,255,255,.15) !important;
  color: rgba(255,255,255,.5) !important;
  &:hover {
    border-color: #2ACBF9 !important;
    color: #2ACBF9 !important;
  }
}

/* Cart */
salla-cart-summary {
  @apply relative flex items-center;
  .header-btn__icon { @apply text-xl; }
}

/* Mobile Menu Trigger */
.mburger {
  @apply p-2;
  i { color: #2ACBF9 !important; }
}
